body{
  background: linear-gradient(to right, #007991, #78ffd6);
}
h1{
  background: #2ecc71;
  color: #ecf0f1;
  margin: 0;
  padding: 10px 20px;
  text-transform: uppercase;
  font-size: 1.7em;
  font-family: 'Pangolin', cursive;
}

#container{
  width: 360px;
  margin: 100px auto;
  background: #f7f7f7;
  box-shadow: 8px 9px 38px -8px rgba(0,0,0,0.75);
}
.strike {
  color: gray;
  text-decoration: line-through;
}

span{
  background: #e74c3c;
  height: 40px;
  margin-right: 20px;
  text-align: center;
  color: #fff;
  display: inline-block;
  width: 0px;
  transition: 200ms linear;
  opacity: 0;
}

li:hover span{
  width: 40px;
  opacity: 1;
}

ul{
  list-style: none;
  margin: 0;
  padding: 0;
  font-family: 'Amatic SC', cursive;
  font-weight: bold;
  font-size: 1.5em;
}

li{
  background: #fff;
  height: 40px;
  line-height: 40px;
  color: #666;
  opacity: 0;
  transition: all 1s linear;
}

li.fade{
  opacity: 1;
  
}
li:nth-child(2n){
  background: #f7f7f7;
}

input{
  font-size: 1.5em;
  background: #f7f7f7;
  width: 100%;
  font-family: 'Amatic SC', cursive;
  padding: 12px 12px 12px 20px;
  box-sizing: border-box;
  font-weight: bold;
  border: 3px solid rgba(0, 0, 0, 0);
}
input:focus{
  background: white;
  border: 3px solid rgba(87, 98, 255, 0.76);
  outline: none;
  font-weight: lighter;
}

.fa{
  cursor: pointer;
}

h1>.fa-plus-circle{
  display: none;
}
