#subject_menu ul {
    list-style-type: none;
    margin-top: 50px;
    padding: 0;
    width: 120px;
    background-color: #99ff66;
}

#subject_menu li a {
    display: block;
    color: black;
    padding: 8px 0 8px 16px;
    text-decoration: none;
	font-family: Gabriola;
	font-size: 20px;
	border-bottom: 1px solid red;
}

/* Change the link color on hover */
#subject_menu li a:hover {
    background-color: #ff9966;
    color: white;
	font-weight: bold;
}